/*Lato pour les titres*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');
/*Raleway pour le contenu*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&display=swap');

#largeur{
    width: 1160px;
    margin:auto;
    background-color: #782221 ;
}
#title{
    font-family: "lato";
}

#contact{
    background-color:#2c1d27;
    color:#dbc2a4 ;
    margin:auto;  
}

#place{
    display:flex;
    margin-left:40px;
    margin-right:30px;
    gap: 27%;
}

img{
    width:200px;
    margin:auto;
    display: flex;
    border-radius: 50%;
}
#presentation{
    text-align:right;
    background-color: aliceblue;
    margin-left:50%;
    
}